*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  height: 100vh;
  width: 100vw;
  overflow: hidden;

  display: flex;
  justify-content: center;
  align-items: center;
}

section {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;

  display: flex;
  justify-content: center;
  align-items: center;
}

.content {
  flex-direction: column;
  gap: 1rem;
}

.content p {
  border: 1px solid rgba(255, 255, 255, 0.373);
  padding: 1rem;
  border-radius: 5px;
  background-color: rgba(145, 30, 30, 0.2);
  color: white;
}


